@CHARSET "UTF-8";

<!--yongho main-->
.container {
	width: 500px;
}


#header {
	/* border: solid 1px blue; */
	height: 30px;
	background-color: #A9BCF5;
}

#header input {
	width: 300px;
}

#withme {
	/* border: solid 1px black; */
	width: 100px;
	margin-left: 400px;
	float: left;
}

#left-side {
	height: 700px;
	width: 500px;
	float: left;
	background-color: #FAFAFA;
	border: 1px solid black;
}

#right-side {
	height: 93%;
	width: 65%;
	float: left;
	background-color: #FAFAFA;
	border: 1px solid black;
}

#left-content {
	/* border: 1px solid blue; */
	height: 100%;
	background-color: white;
	width: 390px;
	float: right;
	border: 1px solid black;
}

#right-content {
	/* border: 1px solid red; */
	height: 100%;
	background-color: white;
	width: 70%;
	float: left;
	border: 1px solid black;
}

.signup {
	/* height: 290px; */
	width: 330px;
	margin: auto;
	margin-top: 50px;
	background-color: #f1f1f1;
}

#signupDiv {
	width: 80%;
	margin: auto;
	margin-top: 30px;
}

.signhead {
	background-color: #086A87;
	height: 30px;
	width: 100%;
	font-weight: bolder;
	color: white;
	background-color: #848484;
}

.signupInput {
	height: 55px;
	width: 100%;
}

.signupInput2 {
	width: 250px;
}

.favorite {
	height: 100px;
	width: 330px;
	margin: auto;
	margin-top: 5px;
	background-color: #f1f1f1;
}

.favoriteHead {
	background-color: #086A87;
	height: 30px;
	width: 100%;
	font-weight: bolder;
	color: white;
	background-color: #848484;
}

lavel {
	display: inline-block;
}

.selectable2 {
	width: 100%;
	height: 50px;
	background-color: white;
}

.fPhoto {
	float: left;
	border: red solid 1px;
	height: 100%;
	width: 50px;
	margin-bottom: 5px;
}

.fName {
	float: left;
	border: red solid 1px;
	height: 100%;
	width: 70px;
	margin-bottom: 5px;
}

.fComment {
	float: left;
	border: red solid 1px;
	height: 100%;
	width: 54%;
	margin-bottom: 5px;
}

.fPhoto img {
	width: 100%;
	height: 100%;
}
<!--dam band-->
.bandForm{
width:300px;
}
#table{ 
display: table;
width:265px;
}
.row{
display: table-row;
}
p{
display: table-cell; 
border:solid 1px gray; 
padding: 3px; 
}

<!--dam bookmark -->
#table{ 
display: table;
width:300px;
}
.row{
display: table-row;
}  
p{
display: table-cell; 
border:solid 1px gray; 
padding: 3px; 
}
.play{
width:40px;
}
.title{
width:230;
}
.del{
width:30;
}
 
 
 <!--dam friendList-->
 #friendInfo {

height:90px;
width :300px;
border: solid 2px Orange;
margin-bottom: 10px;
border-radius : 0.5em
	
}
#photo{
float:left;
width:90px;
height:90px;
border: solid 2px red; 
border-top-left-radius:0.5em;
border-bottom-left-radius:0.5em;
 
}
#userId{
width:210px;
height:30px;
margin-left: 91px;
width: 200px;
border: solid 2px blue;
border-top-right-radius:0.5em;
}
#usermsg{
	width:200px;
	height:55px;
	margin-left: 91px;
 
	border: solid 2px green;
	border-bottom-right-radius:0.5em;
}
  
<!--dam myInfo -->
#myInfo {

	height:220px;
  width:300px;
	border: dashed 2px Orange;
	border-radius : 0.5em
	
}
#photo{
float:left;
width:120px;
height:120px;
border: dashed 2px red; 
}
#userId{
 margin-left: 121px;
 width: 170px;
 border: dashed 2px blue;
}
#usermsg{
	margin-left: 121px;
  width: 170px;
	height:100px;
	border: dashed 2px yellow;
}
#button{
	margin-left: 100px;
}
<!--dam recommend -->
#table{ 
display: table;
width:300px;
}
.row{
display: table-row;
}  
p{
display: table-cell; 
border:solid 1px gray; 
padding: 3px; 
}  
  
