@CHARSET "UTF-8";




<!--dam myInfo -->
#myInfo{

	height:220px;
  width:100px;
	
	border-radius : 0.5em;
	background-color: white;
	
}
#myPhoto_left{
float:left;
border-radius : 0.5em;
}
#userId_left{
 margin-left: 101px;
 height:20px;
 width:65%;
 background-color: #6592FF;
 
}
#usermsg_left{
	margin-left: 101px;
	height:80px;
  width:65%;
	background-color: #CCDBFE;
}
#button_myInfo{
	margin-top:5px;
	margin-right:5px;
	float:right;
}
<!--dam recommend -->
#table{ 
display: table;
width:300px;
}
.row{
display: table-row;
}  
p{
display: table-cell; 
border:solid 1px gray; 
padding: 3px; 
}  


<!--dam bookmark-->
#bookmark_table{ 
display: table;
width:276px;
}
.row_left{
}  

.b_play{
width:35px;
height:30px;
border:solid 1px gray; 
float:left;
display:inline;

}
.b_title{
width:200px;
height:30px;
border:solid 1px gray; 
float:left;
display:inline;
}
.b_del{
width:40px;
height:30px;
border:solid 1px gray; 
float:left;
display:inline;
}
  
