<style>

.bubble{
	border-color: transparent white transparent transparent;
	border-style: solid;
	border-width: 10px;
	width: 0;
	height: 0;
	/* position: absolute;
	left: 150px; */
}

</style>
 
 <div style="font-size:15px;font-weight:bold;color:black;">■ Followers ■</div>

{{#each friends}}
	<div id='member-list-detail-div'  data-searchInfo='{{UNAME}}'style="	width:100%; height:110px; float:left;margin:5px;">
		<div class='member-photo'><img src="../fileupload/{{uphoto}}" style="width:90px;height:90px;"></div>
	
		<!-- hoverevent div -->
		
		
     <div class='hover-info {{uname}}'
             style="width:170px; height:110px;/* border: solid gray 1px; */ position: absolute; left: 155px;
             z-index: 10000; /*  background: white; */ 	background-image: url('../img/777.png'); 
             word-wrap:break-word;padding:20px;border-radius:5px;">
             <!-- <label style="font-weight:bold;">이름 : {{uname}}</label><br> -->
            <!--  <div class="bubble">
             </div> -->
             <label style="color:gray;">{{comment}}</label><br>
             
         </div>
  <!-- hoverevent div끝 -->
	
	
		<div class='member-info-name' ><h5><a class='uname' data-fUid='{{fUid}}' data-uname='{{uname}}'>{{uname}}</a></h5></div>
		<div class='member-info-etc'>
		
		<div style="margin:5px;">
		<img src="../img/search1.png" style="width:20px;height:20px;">: {{boardCnt}} ||
		<img src="../img/follow.png" style="width:20px;height:20px;">:{{followerCnt}}
		</div>
		</div>
	</div>
	

         
{{/each}}


<script>

/* 이름 클릭하면 레프트사이드에 친구정보 보이기 */
$('.uname').click(function() {
	console.log($(this).attr('data-fUid'));
	OtherInfo($(this).attr('data-fUid'));
/* 		OtherFollowList($(this).attr('data-fUid')); */
});

/*뒷부분은 레프트ㅡ사이드에 있음 */



/* hover*/
  $('.hover-info').hide();
  $('.bubble').hide();   
	$('.uname').mouseenter(function(){
		/* $('.hover-info').css('display',''); */
		var uname = $(this).attr('data-uname');
		console.log(uname+'...mouseenter');
		/* $('.hover-info').show(); */
		$('.'+uname).show();
	});
	
	$('.hover-info').mouseenter(function(){
		$(this).show();
	});
	
	$('.hover-info').mouseleave(function(){
		$(this).hide();
	});
	
	$('.uname').mouseleave(function(){
		var uname = $(this).attr('data-uname');
		console.log(uname+'...mouseleave');
		$('.'+uname).hide();
	});
 /*hover끝*/
	
	
 /*자세히 보기 클릭하면 레프트사이드에 친구 정보 출력*/

	
</script>

