<style>
.for-take-user{
  width: 100%;
  border-bottom: #1e1e1e 1px solid;
  border-top: 1px solid #585858;
}
.for-send-msg-content-div{
  width: 100%;
  border-top: 1px solid #585858;
  white-space: normal;
}

.for-send-msg-content{
  width: 100%;
  white-space: normal;
}
</style>

<div class='for-take-user'><label>받는사람 : </label><a>{{msgOne.uname}}</a></div>
<div class='for-send-msg-content-div'>
<label>내용</label>
<p class='for-send-msg-content'>{{msgOne.content}}</p>
</div>





<script>



</script>