<tr>
	<td rowspan="2" style="width: 32px; text-align: center;"><img
		id="profileImg" src="../img/temp.jpg"></td>
	<td class="writerName"><label>작성자1</label> <img id="deleteImg"
		src="../img/symbol5-2.png"></td>
	<td style="text-align: right;"><label style="font-size: 8px;">{{bdate}}</label>
	</td>
	<td rowspan="2"><input id="{{rno}}" onclick="mute(this);"
		type="checkbox" style="width: 25px; height: 25px;" checked="checked">

	</td>
</tr>
<tr>
	<td colspan="2" style="width: 80%; text-align: left;"><label>{{content}}</label></td>
</tr>