<div id="openSession"  class="totalWidth bottomLocation backGroundColor divRadius"  style=" text-align: center;">

	<label id="openDiv" style="font-size: 5px;" >JAM Session</label>
	<div id="hidePlayer">
<hr>
	<div id="playerContent" class=" backGroundColor">
	<table class="totalWidth" >
		<tr>
			<td rowspan="2" style="width: 32px; text-align: center;">
				<img id="profileImg" src="../img/temp.jpg">
			</td>
			<td class="writerName">
				<label >작성자1</label>
				<img id="deleteImg" src="../img/symbol5-2.png">
			</td>
			<td style="text-align: right;">
				<label style="font-size: 8px;">2015.01.01</label> 
			</td>
			<td rowspan="2">
				
				 <input id="0" onclick="mute(this);" type="checkbox" style="width: 25px; height: 25px;" checked="checked">
				 
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width: 80%; text-align: left;"><label>{{playList.content}}</label></td>
		</tr>
		
		
		
		
		
		
	</table>
	</div>
	<hr>
	
	
	<div id="recordForm">
	<form id="upload-reply-form" action="../../json/board/insertReply.do" method="post" enctype="multipart/form-data">
		<table class="totalWidth" >
			<tr>
				<td  colspan="2" width="84%" style="text-align: left;">
					<input placeholder="Comment" type="text" size="35px;" name='content'>
				</td>
				<td >
					<input class="pbtns" type="submit" value="등록"><br>
				</td>
			</tr>
			<tr>
				<td width="30%;" style="text-align: left;">

					<img class="recordImg" onclick="startRecording(this);" src="../img/media-record-1.png">
					<img class="recordImg" onclick="stopRecording(this);" src="../img/media-stop2-1.png">
					<img  id="micCheck" class="recordImg" onclick="micSetting(this)" src="../img/voice15.png">

					 <!-- 
					<button onclick="startRecording(this);" >record</button>
					<button onclick="stopRecording(this);" disabled>stop</button>
					<button id="micCheck" onclick="micSetting(this)">mic</button>
				 -->
				</td>
				<td width="50%;"><label id="log">audio check</label></td>
				<td width="20%;">
					<label for="uploadFile">업로드</label>
					<input id="uploadFile" type="file" style="visibility: hidden; width: 10px; height: 10px;" name='musicFile'>
				</td>
			</tr>
		</table>
		
		</form>
		
		<table id="recordingslist" style="text-align: center;"></table>
		
	</div>
	<hr>
</div>


	<div id="playerForm"  class="backGroundColor">
	<table class="totalWidth" >
		<tr >
			<td rowspan="2" style="width: 50px; text-align: center;">
				<div id="status"  style="width: 100%; height: 100%;">load</div>
				<img id="playBtn" onclick="playSound();" class="playerBtn"
					src="../img/buttonPlay.png"> 
				<img id="stopBtn" onclick="stopSound();" class="playerBtn" 
					src="../img/buttonStop.png">
			</td>
			<td colspan="2" style="width: 180px;">
				<label id="titleSize">
					<marquee scrolldelay="200" id="titleBar" >title</marquee>
				</label>
			</td>
			<td class="writerName" style="text-align: center; ">
				<label id="writerSize">writer </label>
			</td>
		</tr>
		<tr style="text-align: center; font-size: 12px;">
			<td>
				<label id="time1-1">00</label> : <label id="time1-2">00</label>
				/ <label id="time2-1">00</label> : <label id="time2-2">00</label>
			</td>
			<td >
				<img id="speaker" src="../img/speaker-2.png" class="iconSize">
			</td>
			<td>			
				<input id="slider" type="range"  min="0" value="50" max="100" 
				step="1" onchange="changeVolume(this.value)" />
			</td>
		</tr>
	</table>
	
	</div>
</div>

<script>


var changeTitle = document.getElementById("titleBar");
var changeWriter = document.getElementById("writerSize");

var assetsPath = "../music/";
$("#song01").click(function() {
	var manifest = [ {
		id : "soundID0",
		src : "{{playList.bfName}}"
	}/* , {
		id : "soundID1",
		src : assetsPath + "02 Take My Hand.mp3"
	}, {
		id : "soundID2",
		src : assetsPath + "29 Black Ice.mp3"
	}, {
		id : "soundID3",
		src : assetsPath + "Disturbed-14-Pain Redefined.mp3"
	} */ ];

	changeTitle.innerText = "{{playList.title}}";
	changeWriter.innerText = "작성자1";
	
	init(manifest);
	
	return false;
});
$("#song02").click(function() {
	var manifest = [ {
		id : "soundID0",
		src : assetsPath + "Metallica - My Apocalypse.mp3"
	}/* , {
		id : "soundID1",
		src : assetsPath + "02 Take My Hand.mp3"
	}, {
		id : "soundID2",
		src : assetsPath + "29 Black Ice.mp3"
	}, {
		id : "soundID3",
		src : assetsPath + "Disturbed-14-Pain Redefined.mp3"
	}  */];

	changeTitle.innerText = "bbbb";
	changeWriter.innerText = "작성자2";

	init(manifest);
	
	return false;
}); 

$("#playBtn").hide();

$("#hidePlayer").hide();

$("#openDiv").click(function() {
	
	$("#hidePlayer:visible").slideUp("middle");
	$(this).next('#hidePlayer:hidden').slideDown("middle");

	return false;
})

$("#stopBtn").hide();
$("#playBtn").click(function() {
	$("#stopBtn").show();
	$("#playBtn").hide();
});
$("#stopBtn").click(function() {
	$("#stopBtn").hide();
	$("#playBtn").show();
});


var params = {};
var pieces = window.location.search.slice(1).split("&");
for (var i = 0, l = pieces.length; i < l; i++) {
	var parts = pieces[i].split("=");
	params[parts[0]] = parts[1];
}

var queue;
var displayStatus;

//interval 종료용
var intervalName;

//메인 음원의 총 플레이 시간
var timeTS;


function micSetting(button){
	
	//마이크 사용중인경우 또 못누르도록..
	$('#micCheck').attr('disabled',true);
	
	//recorder 준비 부분 //
	try {
		// webkit shim
		window.AudioContext = window.AudioContext
				|| window.webkitAudioContext;
		navigator.getUserMedia = (navigator.getUserMedia
				|| navigator.webkitGetUserMedia
				|| navigator.mozGetUserMedia || navigator.msGetUserMedia);
		window.URL = window.URL || window.webkitURL;

		audio_context = new AudioContext;

		 __log('set up.');
		 __log(navigator.getUserMedia ? 'available.'
							: 'not present!');

		button.disabled = true;
	} catch (e) {
		alert('No web audio support in this browser!');
	}

	navigator.getUserMedia({
		audio : true
	}, startUserMedia, function(e) {
		__log('No live audio input: ' + e);
	});

}

function init(manifest) {
	
	createjs.FlashAudioPlugin.swfPath = "../flashaudio/";

	if (params.type == "flash") {
		createjs.Sound.registerPlugins([ createjs.FlashAudioPlugin ]);
	} else if (params.type == "html5") {
		createjs.Sound.registerPlugins([ createjs.HTMLAudioPlugin ]);
	} else {
		createjs.Sound.registerPlugins([ createjs.WebAudioPlugin,
				createjs.HTMLAudioPlugin, createjs.FlashAudioPlugin ]);
	}

	displayStatus = document.getElementById("status");
	reLoading();

	// 큐 생성.. 
	queue = new createjs.LoadQueue();
	createjs.Sound.alternateExtensions = [ "mp3" ];
	queue.installPlugin(createjs.Sound);
	queue.addEventListener("complete", loadComplete);
	queue.addEventListener("fileload", fileComplete);
	queue.addEventListener("error", handleFileError);
	queue.addEventListener("fileprogress", handleFileProgress);
	queue.addEventListener("progress", handleProgress);
	queue.loadManifest(manifest);

}

function handleFileError(evt) {
	console.log("error ", evt);
	displayStatus.innerText = "Error"
}

function handleFileProgress(evt) {
	displayStatus.innerText = (queue.progress.toFixed(2) * 100) + "%";
}

function handleProgress(evt) {
	displayStatus.innerText = (queue.progress.toFixed(2) * 100) + "%";
}

function loadComplete(evt) {
	// 로드 완료
	displayStatus.innerText = "Done";
	 
	$("#playBtn").show();
	$("#status").hide();
}
function reLoading(){
	displayStatus.innerText = "load";
	 
	$("#playBtn").hide();
	$("#stopBtn").hide();
	$("#status").show();
}

function fileComplete(evt) {
	console.log("Callback file loaded ", evt);
}
function playSound() {

	stopSound();

	//불러온 음원을 동시에 실행 
	playList = [ {
		id : createjs.Sound.play("soundID0")
	}, {
		id : createjs.Sound.play("soundID1")
	}, {
		id : createjs.Sound.play("soundID2")
	}, {
		id : createjs.Sound.play("soundID3")
	} ];

	playTimer(playList[0].id);

}
function playTimer(sound) {

	var soundTime = sound.duration; // ms 단위로

	timeTS = parseInt(soundTime / 1000) + 1;

	var timeM = parseInt((soundTime / 1000) / 60);
	var timeS = parseInt(soundTime / 1000) % 60;

	if (timeM < 10) {
		timeM = "0" + timeM;
	}
	if (timeS < 10) {
		timeS = "0" + timeS;
	} else {
		timeS = timeS;
	}

	//음원의 시간 표시용
	document.getElementById('time2-1').innerText = timeM;
	document.getElementById('time2-2').innerText = timeS;

	var countTS = 0;
	var countM = 0;
	var countS = 0;
	var viewS;
	var viewM;

	intervalName = setInterval(function() {

		countTS++;

		if ((countTS + 1) == timeTS) { // 플레이 완료시
			stopSound(); // 사운드 종료
		}

		// 초 단위 표시용
		if (countS < 59) {
			countS++;
		} else {
			countM++;
			countS = 0;
		}

		// 00 01 형태로 만들기 위한 부분
		if (countM < 10) {
			viewM = "0" + countM;
		} else {
			viewM = countM;
		}
		if (countS < 10) {
			viewS = "0" + countS;
		} else {
			viewS = countS;
		}

		document.getElementById('time1-1').innerText = viewM;
		document.getElementById('time1-2').innerText = viewS;
	}, 1000);
}

function stopSound() {
	createjs.Sound.stop();
	clearInterval(intervalName);

	//시간을 00:00 형태로 만들기 위해
	document.getElementById('time1-1').innerText = "00";
	document.getElementById('time1-2').innerText = "00";
	
}

// 볼륨 조절	
var changeVolume = function(val) {
	createjs.Sound.setVolume(val / 100);
}

//-----------------------------------------------------------------------//

function mute(e) {

	var eid = parseInt(e.id);
	if (playList[eid].id.getMuted()) {
		playList[eid].id.setMuted(false);
	} else {
		playList[eid].id.setMuted(true);
	}

	if (e.classList.contains("mute")) {
		e.classList.remove("mute");
	} else {
		e.classList.add("mute");
	}
}

//---------------------------------------------------------------------//
//녹음 파트. 
function __log(e, data) {
	log.innerHTML = "\n" + e + " " + (data || '');
}

var mp3Blob;
var audio_context;
var recorder;

function startUserMedia(stream) {
	var input = audio_context.createMediaStreamSource(stream);
	__log('Media stream created.');
	__log("input sample rate " + input.context.sampleRate);

	input.connect(audio_context.destination);
	__log('Input connected to audio context destination.');

	recorder = new Recorder(input);
	__log('Ready');
}

function startRecording(button) {
	recorder && recorder.record();
	button.disabled = true;
	button.nextElementSibling.disabled = false;
	__log('Recording...');

	playSound();
	
	
	$("#stopBtn").show();
	$("#playBtn").hide();

}

function stopRecording(button) {
	recorder && recorder.stop();
	button.disabled = true;
	button.previousElementSibling.disabled = false;
	__log('Stopped');

	// create WAV download link using audio data blob
	createDownloadLink();

	recorder.clear();
	stopSound();
	$("#stopBtn").hide();
	$("#playBtn").show();
}

//wav 파일 다운로드 생성
function createDownloadLink() {
	recorder && recorder.exportWAV(function(blob) {
		
	});
} 


$('#upload-reply-form').ajaxForm({
	       
	            beforeSubmit: function (data, frm, opt) {
	                            alert("전송전!!");
	                            return true;
	                          },
	            
	            success: function(responseText, statusText){
	                alert("전송성공!!");
	            } ,
	            
	            error: function(){
	                alert("에러발생!!");
	            }                               
	          });





</script>