<div style="font-size:15px;font-weight:bold;color:orange;">■Followers!</div>

{{#each friends}}
	<div id='member-list-detail-div' style="	width:100%; height:110px; border: 1px solid #e7e7e7;float:left;margin:5px;">
		<div class='member-photo'><img src="../fileupload/{{uphoto}}" style="width:100px;height:100px"></div>
		<div class='member-info-name' ><h5  style="margin:5px;">{{uname}}</h5></div>
		<div class='member-info-etc'>
		
		<div style="margin:5px;">
		<img src="../img/search1.png" style="width:20px;height:20px;">: {{boardCnt}} ||
		<img src="../img/follow.png" style="width:20px;height:20px;">:{{followerCnt}}
		</div>
		</div>
	</div>
{{/each}}

