<style>
.searchlist-icon-div{
	float:right;margin-right:10px;
	width: 25px;
height: 25px;
}

.members{
/* width:30px;height:30px;float:right;margin-right:10px;opacity:.6; */
background-image: url("../img/search2-w.png");
width: 25px;
height: 25px;
}
.board{
/* width:30px;height:30px;float:right;margin-right:10px;opacity:.6; */
background-image: url("../img/search1-w.png");
width: 25px;
height: 25px;
}

.band{
/* width:30px;height:30px;float:right;margin-right:10px;opacity:.6; */
background-image: url("../img/search3-w.png");
width: 25px;
height: 25px;
}

.search-key-word{
  color: white;
}
</style>


{{#each searchList}}
<div style="width:500px;height:50px;padding:10px;" class='search-listDiv' 
     data-searchInfo='{{UNAME}}' data-uid={{UID}} data-sort={{SORT}}>

<img src="{{UPHOTO}}"  style="width:30px;height:30px;margin-left:5px;">
<span style="margin-left:5px;"><label>{{UNAME}}</label></span>
<div class='searchlist-icon-div'><img class='{{SORT}}'></div>
<!-- <img src="../img/search1-w.png"  style="width:30px;height:30px;float:right;margin-right:10px;opacity:.6;"> -->
</div>
{{/each}}


<script>
/* console.log('test'+$("#allsearch").val()); */

$('.search-listDiv').click(function() {
	/* console.log($(this).attr('data-searchInfo')); */
	var searchInfo = $(this).attr('data-searchInfo');
    console.log(searchInfo);
	$('.for-allSearch').val($(this).attr('data-searchInfo'));

	SearchInsert(searchInfo); 
	
	realTimeSearchRancking();
	/* console.log($(this).attr('data-sort')+'ㅇ'); */
	var datasearchInfo = $(this).attr('data-searchInfo');
	console.log($(this).attr('data-searchInfo')+'oo');
	
	if($(this).attr('data-sort')=='members'){
		OtherInfo($(this).attr('data-uid'));	
	}else if($(this).attr('data-sort')=='band'){
		
		console.log('test');
		$.getJSON('/withjam15/json/auth/loginUser.do', function(data) {
			
			if (data.status == 'fail') {
				console.log('loginUser fail..');
			} else {
				var loginUser = data.loginUser;
				

				$.getJSON('../json/band/myBandListDetail.do?uid='
						+ loginUser.uid + '&bandName=' + datasearchInfo
					, function(data) {
					console.log(data);
					require([ 'text!templates/function-my-band.html' ], function(
							html) {
						var template = Handlebars.compile(html);
						$('#recommend-side-band').html(template(data));
					});
				});
			}
		});  
		
		
		var marginLeft = $("#recommend-side-band").css("margin-left");
		   console.log("marginLeft==> " + marginLeft);

		   if( marginLeft == '0px'){
		      $("#recommend-side-band").animate({ "margin-left": '-25%' }, 1000 ,function(){}); 
		      
		   }else {
		      $("#recommend-side-band").animate({ "margin-left": '0%' }, 1000 ,function(){}); 
		   }
		
		
	}	

});


function realTimeSearchRancking(){
	$.getJSON('../json/search/realTimeSearchRancking.do', function(data) {
		console.log(data.chartList);
		require([ 'text!templates/realTimeSearchRancking.html' ], function(
				html) {
			var template = Handlebars.compile(html);
			$('.real-time-search-list').html(template(data));
		});
	});
}

</script>